<h2> hello, here's the stupid coach! </h2>

<form action="/answer" data-turbo="false">
<label for="ask">Type your question</label>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
